<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="minaelnagar_github" value="https://nuget.pkg.github.com/minaelnagar/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <packageSourceCredentials>
        <minaelnagar_github>
            <add key="Username" value="minaelnagar" />
            <add key="ClearTextPassword" value="%NUGET_AUTH_TOKEN%" />
        </minaelnagar_github>
    </packageSourceCredentials>
</configuration>
