<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <!--To inherit the global NuGet package sources remove the <clear/> line below -->
        <clear />
        <add key="nuget" value="https://api.nuget.org/v3/index.json" />
        <add key="publicfeed" value="https://pkgs.dev.azure.com/elnagarbluebank/bluebank/_packaging/publicfeed/nuget/v3/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <packageSourceCredentials>
        <bluebank>
            <add key="Username" value="mina.elnagar" />
            <add key="ClearTextPassword" value="isxbi7k3pxkz6esfoytelfos3dq255dmksdccuwhdm2ttgsijysq" />
        </bluebank>
    </packageSourceCredentials>
</configuration>
